<div class="page-footer row">
  <div class="section col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <h2>Get to Know Us</h2>
    <ul>
      <li><a>Careers</a></li>
      <li><a>About</a></li>
      <li><a>Investor Relations</a></li>
    </ul>
  </div>

  <div class="section col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <h2>Make Money with Us</h2>
    <ul>
      <li><a>Sell on our store</a></li>
      <li><a>Sell Your Service on our Store</a></li>
      <li><a>Become an Affiliate</a></li>
      <li><a>Advertise Your Products</a></li>
      <li><a>Self-Publish with Us</a></li>
      <li><a>Become a Vendor</a></li>
    </ul>
  </div>
  <div class="section col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <h2>Let Us Help You</h2>
    <ul>
      <li><a>Your Account</a></li>
      <li><a>Your Orders</a></li>
      <li><a>Shipping Rates &amp; Policies</a></li>
      <li><a>Returns &amp; Replacements</a></li>
      <li><a>Manage Your Contents and Devices</a></li>
      <li><a>Help</a></li>
    </ul>
  </div>
</div>