<div class="row">

  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

  </div>


  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

    <form action="" method="POST" role="form">
      <legend>Please login</legend>

      <div class="form-group">
        <label for="">User name</label>
        <input type="text" class="form-control" id="">
      </div>


      <div class="form-group">
        <label for="">Password</label>
        <input type="password" class="form-control" id="">
      </div>

      <div class="form-group">

        <div class="checkbox">
          <label>
            <input type="checkbox" value="">
            Remember me?
          </label>
        </div>

      </div>

      <button type="submit" class="btn btn-primary">Login</button>
    </form>

  </div>


</div>