<div class="row">

  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

  </div>


  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

    <form #f="ngForm" (ngSubmit)="doLogin(f)" novalidate>
      <legend>Please login</legend>

      <div class="form-group">
        <label for="username">User name</label>
        <input type="text" ngModel class="form-control" id="username" name="username"  />
      </div>


      <div class="form-group">
        <label for="password">Password</label>
        <input ngModel type="password" class="form-control" id="password" name="password" />
      </div>

      <div class="form-group">

        <div class="checkbox">
          <label>
            <input type="checkbox" ngModel name="rememberMe" />
            Remember me?
          </label>
        </div>

      </div>

      <button class="btn btn-primary" type="submit">Login</button>
    </form>

  </div>


</div>