<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header">
  <a class="navbar-brand" href="#">OlsonKart</a>
</div>

<div class="dropdown visible-xs visible-sm col-sm-6">
  <button class="btn btn-default dropdown-toggle" type="button" id="menu-dropdown" data-toggle="dropdown" aria-haspopup="true"
    aria-expanded="true">
      {{ activeItem }} <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="menu-dropdown">
    <li *ngFor="let menuItem of menuItems"><a [routerLink]="menuItem.url">{{menuItem.displayName}}</a></li>
  </ul>
</div>

<div class="navbar-buttons">
  <a routerLink="/login" *ngIf="!sessionSvc.userLoginState" class="btn btn-sm btn-primary">Login</a>
  <a (click)="Logout()" *ngIf="sessionSvc.userLoginState" class="btn btn-sm btn-primary">Logout</a>
  <a routerLink="/login" class="btn btn-sm btn-primary">Sign up</a>
  <a data-toggle="modal" data-target="#shoppingcart" class="btn btn-sm btn-primary">{{sessionSvc.ShoppingCart | scmd}}</a>
</div>


<!-- Collect the nav links, forms, and other content for toggling -->
<div class="navbar-collapse hidden-xs hidden-sm">
  <ul class="nav navbar-nav">
    <!-- <li class="active"><a href="/products/apple">Home</a></li> -->
    <li *ngFor="let menuItem of menuItems" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a [routerLink]="menuItem.url">{{menuItem.displayName}}</a>
    </li>
  </ul>
</div>

<!-- Modal -->
<div class="modal fade" id="shoppingcart" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Shopping Cart</h4>
      </div>
      <div class="modal-body">
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Quantity</th>
              <th>Price</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let unit of sessionSvc.ShoppingCart.items">
              <td>
                {{unit.product.name}}
              </td>
              <td>
                {{unit.quantity}}
              </td>
              <td>
                {{unit.price | price:'$'}}
              </td>
            </tr>
            <tr>
              <td colspan="2">Total</td>
              <td>{{sessionSvc.ShoppingCart.totalPrice | price:'$'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>