.page-products{
    .products-center{
        min-height: 280px;
        h3{
            font-family: 'Open Sans Condensed', sans-serif;
            font-size: 40px;
            text-align: center;
            line-height: 280px;
        }
       
    }
  
}