header {
    background-color: rgb(43,203,228);

    .navbar {
        margin-bottom: 0;
    }

    .navbar-default {
        background-color: transparent;
        border: none;
    }

}

footer {
    background: #232f3e;
    margin-top: 50px;
}
