<div class="page-products">
  <div class="products-center row">
    <div class="products-img col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <img src="../../assets/rs-3.jpg" class="img-responsive" alt="">
    </div>
    <div class="container">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h3>
          It <span class="color">'</span> Lorem ipsum <span class="color">dolor</span> sit amet consectetur
        </h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tristique est sit amet diam interdum semper. Vestibulum condimentum
          ante urna, vel interdum odio accumsan id.
        </p>
        <div class="products-bor">
        </div>
        <div class="products-list">
          <div class="row">

          </div>

        </div>
      </div>
    </div>
  </div>
</div>