<div class="page-products">
  <div class="products-center row">
    <div class="products-img col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <img src="../../assets/rs-3.jpg" class="img-responsive" alt="">
    </div>
    <div class="container">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h3>
          It <span class="color">'</span> Lorem ipsum <span class="color">dolor</span> sit amet consectetur
        </h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tristique est sit amet diam interdum semper. Vestibulum condimentum
          ante urna, vel interdum odio accumsan id.
        </p>
        <div class="products-bor">
        </div>
        <div class="products-list">
          <div class="row">
            <div *ngFor="let product of products;" class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="item">
                <div class="item-img">
                  <img src="{{product.imgurl}}" class="img-responsive">
                </div>
                <div class="item-name">
                  <span>{{product.name}}</span>
                </div>
                <div class="item-des">
                  {{product.description}}
                </div>
                <hr>
                <div class="item-price">
                  <div class="item-priceshow">
                    {{"$"+product.price}}
                  </div>
                  <div class="item-shoppingcart">
                    <a href="" class="btn btn-danger btn-sm">Add to cart</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>