<div class="page-products">
  <div class="products-center">
    <div class="products-img">
      <img src="../../assets/back.png" class="img-responsive" alt="">
    </div>
    <div class="container">
      <div>
        <h3>
          It <span class="color">'</span> Lorem ipsum <span class="color">dolor</span> sit amet consectetur
        </h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tristique est sit amet diam interdum semper. Vestibulum condimentum
          ante urna, vel interdum odio accumsan id.
        </p>
        <div class="products-bor">
        </div>
        <div class="products-list">
          <div *ngIf="!this.sessionSvc.userLoginState" class="NoLogin">
          Please <a routerLink="/login">Login</a> to view the product list.
          </div>
          <div class="row" *ngIf="this.sessionSvc.userLoginState">
            <div *ngFor="let product of products;" class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="item">
                <div class="item-img">
                  <img src="{{product.imgurl}}" class="img-responsive">
                </div>
                <div class="item-name">
                  <span>{{product.name}}</span>
                </div>
                <div class="item-des">
                  {{product.description}}
                </div>
                <hr>
                <div class="item-price">
                  <div class="item-priceshow">
                    {{product.price | price:'$'}}
                  </div>
                  <div class="item-shoppingcart">
                    <a appBtnAddCart (click)="addToCart(product)" class="btn btn-danger btn-sm">Add to cart</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>